html{
    background-color: #e2ac7f;
}
li::first-letter{
    font-weight: bold;
}
h1{
    border-bottom: 5px dotted black;
    position: absolute;
    width: 640px;
    font-family: Impact;
    font-style: italic;
    left: 1px;
    top: -20px;
}
#wrap{
    position: absolute;
    background-color: #f5f5dc;
    text-align: center;
    border: 5px dotted black;
    width: 600px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
ul{
    list-style-type: none;
    font-style: italic;
}
p{
    text-align: justify;
}
.copyright{
    text-align: center;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}